:root {
  --color-000000: #000000;
  --color-1d1d1f: #1d1d1f;
  --color-302c2c: #302c2c;
  --color-4e4b4b: #4e4b4b;
  --color-7f7f7f: #7f7f7f;
  --color-bfbfbf: #bfbfbf;
  --color-c2c2c2: #c2c2c2;
  --color-cccccc: #cccccc;
  --color-dfdfdf: #dfdfdf;
  --color-e5e5e5: #e5e5e5;
  --color-f7f7f7: #f7f7f7;
  --color-fafafa: #fafafa;
  --color-ffffff: #ffffff;
  --color-primary: #0747a6;
  --color-accent: #e65100;
  --color-error: #7c2d35;
  --color-warning: #ffbe00;

  $colors: "000000", "1d1d1f", "302c2c", "4e4b4b", "7f7f7f", "bfbfbf", "c2c2c2",
    "cccccc", "dfdfdf", "e5e5e5", "f7f7f7", "fafafa", "ffffff";

  /**
   * color & background-color
   */
  @each $color in $colors {
    .c-#{$color} {
      color: var(--color-#{$color});
    }
    .bg-#{$color} {
      background-color: var(--color-#{$color});
    }
  }

  .c-primary {
    color: var(--color-primary);
  }
  .c-accent {
    color: var(--color-accent);
  }
  .c-error {
    color: var(--color-error);
  }
  .c-warning {
    color: var(--color-warning);
  }

  .bg-accent- {
    background-color: var(--color-accent);
  }
  .bg-error- {
    background-color: var(--color-error);
  }
  .bg-warning- {
    background-color: var(--color-warning);
  }
}
